<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61tEHiSvRVL._AC_SX522_.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100% 100%;
}
</style>

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="static/js/index.js"></script>
<title>Alimentador para perros</title>
</head>
<body>

<h2 style="background-color:LightGray;color:#FFFFFF>;"><b>GRUPO N°6:</b></h2>
<h2 style="color:#FFFFFF>;"><b>Integrantes:</b></h2>

<ul><b>
  <li style="color:#002D81;"><i>Paul Maldonado</i></li>
  <li style="color:#002D81;"><i>Mauricio Pilatuña</i></li>
  <li style="color:#002D81;"><i>Cinthya Pilco</i></li>
  <li style="color:#002D81;"><i>Jeffersson Pino</i></li>

</b></ul>  

</body>
</html>
